<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!--
	<bean id="icat" class="au.edu.archer.services.icat.impl.ICATHibernateImpl">
		<constructor-arg index="0" ref="icatDataSource" />
		<constructor-arg index="1" ref="hibernateProperties" />
	</bean>

	<bean id="icatDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="hibernateProperties" class="java.util.HashMap">
		<constructor-arg index="0">
			<map>
				<entry key="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect" />
				<entry key="hibernate.hbm2ddl.auto" value="create-drop" />
				<entry key="hibernate.showsql" value="false" />
			</map>
		</constructor-arg>
	</bean>
-->

</beans>
